
//Genseki
@font-face {
    font-family: "Genseki";
    src: url("./fonts/Genseki/GenSekiGothicTW-L-01.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "Genseki";
    src: url("./fonts/Genseki/GenSekiGothicTW-R-01.woff") format('woff');
    font-weight: 400;
}
@font-face {
    font-family: "Genseki";
    src: url("./fonts/Genseki/GenSekiGothicTW-M-01.woff") format('woff');
    font-weight: 500;
}
@font-face {
    font-family: "Genseki";
    src: url("./fonts/Genseki/GenSekiGothicTW-B-01.woff") format('woff');
    font-weight: 600;
}
@font-face {
    font-family: "Genseki";
    src: url("./fonts/Genseki/GenSekiGothicTW-H-01.woff") format('woff');
    font-weight: 800;
}


//Genwan


@font-face {
    font-family: "Genwan";
    src: url("./fonts/Genwan/GenWanMinTW-EL-01.woff") format('woff');
    font-weight: 200;
}

@font-face {
    font-family: "Genwan";
    src: url("./fonts/Genwan/GenWanMinTW-L-01.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "Genwan";
    src: url("./fonts/Genwan/GenWanMinTW-R-01.woff") format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "Genwan";
    src: url("./fonts/Genwan/GenWanMinTW-M-01.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "Genwan";
    src: url("./fonts/Genwan/GenWanMinTW-SB-01.woff") format('woff');
    font-weight: 600;
}


.genwan{
  font-family: "Genwan";
}


.genseki{
  font-family: "Genseki";
}
