@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-size: 16px;
  @apply font-light text-base leading-8;
  font-family: "Genseki", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  @variants responsive {
.h1-lg{
  @apply text-6xl tracking-wider font-semibold;
  font-family: "Genwan";
}

.h2-lg{
  @apply tracking-widest text-4xl font-semibold;
  font-family: "Genwan";
}

.h3-lg{
  @apply text-2xl tracking-wide font-semibold leading-7;
  font-family: "Genwan";
}

.captions-lg{
  @apply tracking-wide font-medium;
  font-size: 0.9rem;
  font-family: "Genwan";
}

.body-lg{
  @apply font-light text-base leading-7;
  font-size: 1rem;
  font-family: "Genseki";

}

.body2-lg{
  @apply font-light text-base leading-7;
  font-size: 0.8rem;
  font-family: "Genseki";
}

.card-lg{
  @apply font-semibold leading-7;
  font-size: 1rem;
  font-family: "Genwan";
}


.h1{
  @apply text-4xl tracking-wider font-semibold;
  font-family: "Genwan";
}

.h2{
  @apply text-2xl tracking-widest font-semibold;
  font-family: "Genwan";
}

.h3{
  @apply text-xl tracking-wide font-semibold leading-5;
  font-family: "Genwan";
}

.captions{
  @apply tracking-wide font-medium leading-6;
  font-size: 0.9rem;
  font-family: "Genwan";
}

.body{
  @apply font-light text-base leading-7;
  font-family: "Genseki";

}

.body2{
  @apply font-light text-base leading-8;
  font-size: 0.8rem;
  font-family: "Genseki";
}

.card{
  @apply font-semibold leading-7;
  font-size: 0.9rem;
  font-family: "Genwan";
}

.vertical{
  writing-mode: vertical-rl;
}

.horizontal{
  writing-mode: horizontal-tb;
}

.w-fit-content{
  width:fit-content;
}

.h-fit-content{
  height:fit-content;
}

.darken-layer{
  background-image: linear-gradient(180deg, #DDE6ED 0%, #66838B 100%);
  mix-blend-mode: multiply;
  opacity: 0.7;
}

.max-w-33{
  max-width: calc(33.3% - 1px);
}

.max-w-49{
  max-width: calc(50% - 1px);
}

.divider-x{
  border-right:none;
  border-top: 1.2px solid;
  height:1.5px;
  flex-grow: 1;
  width:100%;
}

.divider-y{
  display:flex;
  border-top:none;
  border-right: 1.2px solid;
  width:1.5px;
}

}
}

.action-btn{
  border: 1px solid #A4A4A4;
  width:fit-content;
  height:fit-content;
  box-sizing: border-box;
  box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1000px;
  animation: pulse 3s infinite;
}

.action-btn:hover{
 animation-play-state: paused;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
.link-btn{
  background: #384A2C;
  border: 1px solid #A7C9AF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  width:100%;
  text-align: center;
  padding: 0.5rem 0;
  height:fit-content;
  box-sizing: border-box;
}

.glass{
  /* From https://css.glass */
background: rgba(164,164,164, 0.6);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
}


.glassDark{
  /* From https://css.glass */
background:  rgba(62, 79, 84, 0.4);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(2.5px);
-webkit-backdrop-filter: blur(2.5px);
}

.border-landing-light{
  @apply divider-x sm:divider-y sm:h-64;
  border-color:#C9AD83;
}

.border-rooms-carousel{
  @apply divider-x lg:divider-y lg:h-64;
  border-color:#C9AD83;
  margin:auto;

}

.border-rooms-warm{
  @apply divider-x lg:divider-y lg:h-64;
  border-color:#C9AD83;
  margin:auto;

}

.border-rooms-cool{
  @apply divider-x lg:divider-y lg:h-64;
  border-color:#A7C9AF;
  margin:auto;
}

.border-dark{
  @apply divider-x sm:divider-y;
  border-color:#3E4F54;
}

.border-accent-green{
  @apply divider-x sm:divider-y;
  border-color:#A7C9AF;
}

.border-warm-lightest{
  @apply divider-x sm:divider-y;
  border-color:#F1D7B6;
}
